.card {
  width: 35%;
  margin-top: 8%;
  margin-bottom: 8%; }

.card-row {
  display: flex;
  justify-content: center; }

.input-field {
  margin-left: 0 !important; }

section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  letter-spacing: .2px; }
  section > span {
    margin: 0px 5px 0px 5px; }
