.Register-card {
  width: min-content;
  min-width: 325px;

  max-width: 360px;
  margin-top: 8%;
  margin-bottom: 8%; 
}
.Register-card > .row{
  width: 100%;
}

.card-row {
  display: flex;
  justify-content: center; }

.input-field {
  margin-left: 0 !important; }

section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  letter-spacing: .2px; }
  section > span {
    margin: 0px 5px 0px 5px; }

.Register-buttons-box{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
.Register-buttons-box-narrow{
  height: 100px;
  margin: 0px auto;
  max-width: 250px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
.Register-avatar{
  width: 80%;
}
.img-wrap {
  position: relative;
}
.img-wrap .close {
  position: absolute;
  top: 2px;
  right: 42px;
  z-index: 10;
  color: orangered;
  cursor: pointer;
}
