.SignIn-card {
  width: 35%;
  max-width: 330px;
  margin-top: 8%;
  margin-bottom: 8%; 
}

.card-row {
  display: flex;
  justify-content: center; }

.input-field {
  margin-left: 0 !important; }

section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  letter-spacing: .2px; }
  section > span {
    margin: 0px 5px 0px 5px; }

.SignIn-buttons-box{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
.SignIn-buttons-box-narrow{
  height: 100px;
  margin: 0px auto;
  max-width: 250px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
