#navbar-toggle-cbox {
  display: none;
}

#navbar-toggle-cbox:checked ~ .collapse {
  display: block;
}

.listLink:hover {
  color: aliceblue;
}

.navbar-links p {
  color: #c8d7e0ab;
}

.navbar-links p:hover {
  color: wheat;
}

#nav {
  background-color: #282d32;
  border: 1px solid #282d32;
}