.footer-container {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #f0f9ff;
  background-color: #282d32;
  opacity: 0.3;
}

.copyright {
  margin: 0;
}
